@import "styles/variables";


.round_button {
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    background-color: $colorButton;
    color: $colorBg;
    justify-content: center;
    font-family: inherit;
    font-weight: 3;  
    transition-duration: 300ms;      

    &:hover {
        color: $colorText;
        background: $colorBg;
        box-shadow: 0 0 5px 1px $colorAccent3;

        transition-duration: 300ms;
    }
}
    