@import "/src/styles/variables.scss";

.round_input {
    @include shape();
    @include text-body();

    color: $colorText;
    border-color: $colorAccent3;
    background: inherit;
    padding: 0 10px 0 10px;

    &::placeholder {
        color: $colorText;
        opacity: 0.6;
    }

    &:hover, &:focus-visible {
        color: $colorText;
        box-shadow: 0 0 5px 1px $colorAccent3;
    }

    &:focus-visible {
        outline: none;
    }
}