@import "/src/styles/variables.scss";

.search {
    @include shape();
    width: 100%;    
    height: 40px;

    border: none;
    border-color: $colorAccent3;
    padding: 0 10px 0 10px;
    align-items: center;
    column-gap: 10px;
    background: $colorBg;

    &::placeholder {
        color: $colorText;
        opacity: 0.6;
    }

    &:hover, &:focus-visible {
        color: $colorText;
        box-shadow: 0 0 5px 1px $colorAccent3;
    }


    input {
        @include shape();
        @include text-body();
        
        width: 100%;
        height: 100%;

        color: $colorText;
        border: none;
        background: $colorBg;
        
        &:focus-visible {
            outline: none;
        }    
    }

    svg {
        width: 25px;
        height: 20px;
    }

}