@import "/src/styles/variables.scss";

.login_box {
    @include round-box();
    width: 120px;
    height: 30px;
    border-color: $colorAccent1;
    align-items: center;

    >p {
        @include text-body;
        color: $colorText;
        margin-left: 2px;
    }

    >div {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 8px;
        margin-right: 8px;
    }
}